:root {
    --color-primario : #FFFFFD;
    --color-secundario : #05B4E9;
    --color-contraste : #FFC60B;
    --color-contraste-2 : #7E0100;
    --color-error : #ff0e0e;
    --color-normal: #313131;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    font-size: 2.5rem;
    margin: 2rem;
}

header {
    padding: 0.5rem;
}

.body-login,  .body-principal {
    background-color: var(--color-primario);
}

.body-login header,.body-principal header {
    background-color: var(--color-secundario);
}

.logo, .icono-cuenta{
    height: 5rem;
}

.body-principal .logo {
    display: block;
    align-self: flex-start;
}

.nav-bar .icono-cuenta {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}

.nav-bar .icono-cuenta:hover {
    cursor: pointer;
}

#check {
    display: none;
}

#check:checked~ul {
    margin-right: 0;
}

.nav-bar ul {
    margin-right: -167px;
    margin-top: 0.5rem;
    position: relative;
    right: 0;
    list-style: none;
    width: max-content;
    position: absolute;
    transition: margin-right ease 0.4s;
}

.nav-bar ul li a {
    display: block;
    text-decoration: none;
    padding: 0.2rem 2rem;
    border: 1px solid var(--color-normal);
    border-bottom: 0;
    background-color: var(--color-primario);
    color: var(--color-normal);
}

#salir {
    color: var(--color-contraste-2);
    border-bottom: 1px solid var(--color-normal);
}

.form-container {
    border: 1px var(--color-normal) solid;
    width: max-content;
    margin: 1rem auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.form-container label {
    align-self:flex-start;
    padding-top: 1rem;
}

.form-container input {
    height: 3rem;
    width: 500px;
    padding-left: 10px;
    font-size: large;
}

.form-container .errores {
    color: var(--color-error);
    height: 1rem; 
}

#entrar {
    width: 450px;
    margin: 2rem auto 1rem auto;
    background-color: var(--color-contraste);
    border: 0;
}

#entrar:hover {
    cursor: pointer;
}

.link-externos {
    font-size: medium;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #1877F2;
}

.nombre {
    margin: 3rem;
}

.beneficios {
    width: max-content;
    padding: 1rem 2rem;
    margin: auto;
}

.beneficios p {
    font-size: x-large;
}

.lista-tarjetas {
    display: flex;
}

.subtitulo {
    text-align: start;
    margin-bottom: 1rem;
}

.tarjeta-descuento {
    width: max-content;
    background-color: var(--color-primario);
    margin: 1rem 2rem;
    box-shadow: 5px 5px 15px black;
    border: 1px solid var(--color-contraste);
    transition: ease 0.4s;
}

.tarjeta-descuento:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}

.tarjeta-descuento img{
    width: 300px;
    height: 250px;
}

.tarjeta-descuento .info {
    text-align: start;
    padding-left: 1rem;
    border-top: 1px solid var(--color-normal);
}

.descuento, .nombre-farmacia, .direccion {
    margin-top: 0.3rem;
}

.tarjeta-descuento .info .descuento {
    font-size: 2rem;
}

.tarjeta-descuento .info .nombre-farmacia {
    font-size: larger;
}

.tarjeta-descuento .info .fecha-vigencia {
    margin-top: 1.2rem;
}

.tarjeta-descuento .info .direccion {
    text-align: center;
    margin-left: -1rem;
    margin-bottom: 0.3rem;
    font-size: small;
}